<div class="podcast-player" data-playlist="{{ include.playlist }}" data-currentFile="{{ include.file }}">
  <div class="titleBar playlistBtn">
    <span class="trackTitle">&nbsp;</span>
  </div>
  <!-- Playlist -->
  <div class="playlistFrame">
    <ol class="playlist"></ol>
  </div>

  <!-- Progress -->
  <div class="progressFrame">
    <div class="progressActiveZone">
      <div class="progressBar">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <div class="controlsFrame">
      <!-- Volume -->
      <div class="btn volumeBtn">{% include svg/speaker.svg %}</div>
      <div class="volumeFrame">
        <div class="volumeActiveZone">
          <div class="volumeBar"></div>
        </div>
      </div>
      <div class="btn playBtn">{% include svg/play.svg %}</div>
      <div class="btn pauseBtn">{% include svg/pause.svg %}</div>
      <div class="btn loading">···</div>
      <span class="elapsed">--:--</span>&nbsp;/ <span class="duration">--:--</span>
      <div class="skippers">
        <a class="btn prevBtn">{% include svg/next.svg %}</a>
        <a class="btn nextBtn">{% include svg/next.svg %}</a>
      </div>
  </div>
</div>

