<div class="podcast-player" data-playlist="{{ include.playlist }}" data-currentFile="{{ include.file }}">
  <div class="title">
    <span class="trackTitle playlistBtn">&nbsp;</span>
  <!-- Playlist -->
    <div class="playlist">
      <div class="list"></div>
    </div>
  </div>

  <!-- Progress -->
  <div class="progressOuter">
    <div class="progressInner">
      <div class="progress"></div>
    </div>
  </div>
  
  <!-- Controls -->
  <div class="controlsOuter">
    <div class="controlsInner">
      <!-- Volume -->
      <div class="btn volumeBtn"></div>
      <div class="volume fadeout">
        <div class="sliderBtn">▬</div>
      </div>
      <div class="btn playBtn"></div>
      <div class="btn pauseBtn"></div>
      <div class="btn loading">···</div>
      <span class="timer">--:--</span>&nbsp;/ <span class="duration">--:--</span>
      <div class="skippers">
        <div class="btn prevBtn"></div>
        <div class="btn nextBtn"></div>
      </div>
    </div>
  </div>
</div>

