/**
 * Site footer
 */
footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;

    ul {
        list-style: none;
        margin-left: 0;
    }

    .footer-col-wrapper {
        display: flex;
        justify-content: center;
    }

    .copyright {
        font-size: 11px;
    }

    .footer-col {
        display: inline-block;
        margin-bottom: $spacing-unit / 2;
        &:nth-child(n+2) {
            margin-left: $spacing-unit;
        }
    }

}