$controls-height: 25px;
$button-width: $controls-height;
$button-border-width: 2px;
$button-border-color: grey;
$player-width: 600px;
$player-height: 3 * $controls-height + 6 * $button-border-width;

$controls-bg-color: rgba(128, 128, 128, .9);
$button-border: $button-border-width solid $button-border-color;
$lrPadding: 4px;

.podcast-player {
  width: $player-width;
  height: $player-height;
  border: 1px solid cyan;
  
  .waveform {
    width: $player-width;
    height: $player-height - 2*$controls-height;
    display: none;
    cursor: pointer;
  }
  .progress {
    width: 0%;
    height: $controls-height;
    background-color: #000;
    z-index: -1;
  }
  .loading {
    display: none;
    height: $controls-height;
    width: $button-width;
    background: rgba(192, 192, 192, 1);
  }

  .playlist {
    display: none;
    padding-left: $lrPadding;
    padding-right: $lrPadding;
  }
  .trackTitle {
    padding-left: $lrPadding;
    padding-right: $lrPadding;
    max-width: 100%;
    text-decoration: underline;
    height: $controls-height;
    padding-top: $button-border-width;
    padding-bottom: $button-border-width;
    display: inline-block;
  }
  .list {
    width: $player-width - 2 * $button-border-width;
    max-height: 30%;
    height: $player-height - $controls-height - 4 * $button-border-width;
    margin-left: -$lrPadding;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    background-color: rgba(200, 200, 200, 1);
    border: $button-border;
  }
  .list-track {
    padding-left: $lrPadding;
    padding-right: $lrPadding;
    text-decoration: underline;
    color: rgba(50, 50, 50, 1);
  }
  .current-track {
    text-decoration: none;
    font-weight: bold;
    color: default;
  }
  .list-track:hover {
    cursor: pointer;
  }

  .progressOuter {
    border: $button-border;
  }
  .volume {
    display: none;
    position: absolute;
    height: 3 * $controls-height;
    width: $button-width;
    border: $button-border;
    background-color: $controls-bg-color;
    text-align: center;
  }
  .btn {
    height: $controls-height;
    border: $button-border;
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .skippers {
    float: right;
  }
  .prevBtn {
    font-family: "Webdings";
    width: $button-width;
  }
  .nextBtn {
    font-family: "Webdings";
    width: $button-width;
  }
  .playBtn {
    font-family: "Webdings";
    width: $button-width;
  }
  .pauseBtn {
    display: none;
    font-family: "Webdings";
    width: $button-width;
  }
  .volumeBtn {
    font-family: "Webdings";
    width: $button-width;
  }
  .sliderBtn {
    position: absolute;
    width: $button-width;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: $button-width / 2;
    font-family: "Webdings";
  }
  
  /* Fade-In */
  .fadeout {
    webkit-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
  }
  .fadein {
    webkit-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  @-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  @-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
}

