$controls-height: 25px;
$button-width: $controls-height;
$button-border-width: 2px;

$controls-bg-color: rgba(96, 96, 96, 1);
$button-border-color: $controls-bg-color;
$button-border: $button-border-width solid $button-border-color;
$lr-pad: 4px;
$dark: rgba(32, 32, 32, 1);
$disabled: rgba(192, 192, 192, 1);
$float-controls-color: rgba(192, 192, 192, 1);
$bar-bg: $dark;
$bar-fg: white;
$text-fg: white;

.podcast-player {
  min-width: 300px;
  background: $controls-bg-color;
  color: $text-fg;
  margin-bottom: 1em;
  position: relative;

  .playlist {
    display: none;
  }
  .trackTitle {
    padding-left: $lr-pad;
    padding-right: $lr-pad;
    max-width: 100%;
    height: $controls-height;
    padding-top: $button-border-width;
    padding-bottom: $button-border-width;
    display: inline-block;
    cursor: pointer;
  }
  .playlist {
    right: 0;
    left: 0;
    max-height: 50vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    background-color: $float-controls-color;
    border: $button-border;
  }
  .list-track {
    padding-left: $lr-pad;
    padding-right: $lr-pad;
    text-decoration: underline;
    color: $dark;
  }
  .current-track {
    text-decoration: none;
    font-weight: bold;
    color: default;
  }
  .list-track:hover {
    cursor: pointer;
  }

  // timeline/progress bar
  .progressFrame {
    border: $button-border;
    .progressActiveZone {
      cursor: pointer;
      background-color: $bar-bg;
      .progressBar {
        width: 0%;
        height: $controls-height;
        background-color: $bar-fg;
        z-index: -1;
      }
    }
  }

  // volume panel
  .volumeFrame {
    display: none;
    position: absolute;
    height: 3 * $controls-height;
    width: $button-width;
    border: $button-border;
    text-align: center;
    .volumeActiveZone {
      position: relative; // because parent is not block-positioned
      // width is full width, because display: block for divs
      height: 100%; // because child has changing height
      cursor: pointer;
      background: $bar-bg;
      .volumeBar {
        position: absolute;
        background: $bar-fg;
        width: 100%;
        height: 0%;
        bottom: 0;
      }
    }
  }

  .loading {
    height: $controls-height;
    width: $button-width;
    background: $disabled;
    cursor: default;
  }

  // buttons
  .btn {
    height: $controls-height;
    border: $button-border;
    display: inline-block;
    text-align: center;
    margin: 0;
    cursor: pointer;
  }
  .skippers {
    float: right;
    display: none;
    a.prevBtn, a.nextBtn {
      display: inline-block;
      color: $text-fg;
      font-family: "Webdings";
      width: $button-width;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .playBtn {
    display: none;
    font-family: "Webdings";
    width: $button-width;
  }
  .pauseBtn {
    display: none;
    font-family: "Webdings";
    width: $button-width;
  }
  .volumeBtn {
    font-family: "Webdings";
    width: $button-width;
  }
  .sliderBtn {
    position: absolute;
    width: $button-width;
    cursor: pointer;
    background-color: white;
    color: $controls-bg-color;
    border-radius: $button-width / 2;
    font-family: "Webdings";
  }
}

