$controls-height: 25px;
$button-width: $controls-height;
$button-border-width: 2px;

$controls-bg-color: rgba(96, 96, 96, 1);
$button-border-color: $controls-bg-color;
$button-border: $button-border-width solid $button-border-color;
$lr-pad: 4px;
$dark: rgba(32, 32, 32, 1);
$disabled: rgba(192, 192, 192, 1);
$float-controls-color: rgba(192, 192, 192, 1);
$bar-bg: $dark;
$bar-fg: white;
$text-fg: white;
$icon-font: "Webdings";

.podcast-player {
  min-width: 300px; // give controls and playlist display enough room
  background: $controls-bg-color;
  color: $text-fg;
  margin-bottom: 1em;
  position: relative; // allow children to be absolutely positioned on me
  cursor: default; // text pointer is distracting between the buttons
  font-size: 0.65 * $controls-height;

  .trackTitle {
    padding-left: $lr-pad;
    padding-right: $lr-pad;
    max-width: 100%;
    min-height: $controls-height;
    padding-top: $button-border-width;
    padding-bottom: $button-border-width;
    display: inline-block;
    cursor: pointer;
  }
  .playlistFrame {
    display: none;
    right: 0;
    left: 0;
    max-height: 50vh;
    min-height: 2 * $controls-height + 2 * $button-border-width;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    background-color: $float-controls-color;
    border: $button-border;

    .playlist { // ol or ul
      margin-left: $lr-pad;
      margin-right: $lr-pad;
      margin-bottom: 0;
      margin-top: 0;
      list-style-type: none;
      color: $dark;
      a.list-track {
        text-decoration: underline;
        color: $dark;
      }
      .current-track {
        text-decoration: none;
        font-weight: bold;
        color: $dark;
      }
      a.list-track:hover {
        cursor: pointer;
      }
    }
  }

  // timeline/progress bar
  .progressFrame {
    border: $button-border;
    .progressActiveZone {
      cursor: pointer;
      background-color: $bar-bg;
      .progressBar {
        width: 0%;
        height: $controls-height;
        background-color: $bar-fg;
        z-index: -1;
      }
    }
  }

  // volume panel
  .volumeFrame {
    display: none;
    position: absolute;
    height: 3 * $controls-height;
    width: $button-width;
    border: $button-border;
    text-align: center;
    .volumeActiveZone {
      position: relative; // because parent is not block-positioned
      // width is full width, because display: block for divs
      height: 100%; // because child has changing height
      cursor: pointer;
      background: $bar-bg;
      .volumeBar {
        position: absolute;
        background: $bar-fg;
        width: 100%;
        height: 0%;
        bottom: 0;
      }
    }
  }

  .loading {
    height: $controls-height;
    width: $button-width;
    background: $disabled;
    cursor: default;
  }

  // buttons
  .btn {
    height: $controls-height;
    border: $button-border;
    display: inline-block;
    text-align: center;
    margin: 0;
    cursor: pointer;
    
    svg {
      margin-top: 6px;
      max-height: 0.5 * $button-width;
      max-width: 0.8 * $button-width;
      * {
        fill: $text-fg;
      }
    }
  }
  .skippers {
    float: right;
    display: none;
    svg {
      max-width: 0.8 * $button-width;
    }
    a.prevBtn, a.nextBtn {
      display: inline-block;
      color: $text-fg;
      font-family: $icon-font;
      width: $button-width;
      &:hover {
        text-decoration: none;
      }
      background: $disabled;
      cursor: default;
      &[href] {
        background: $controls-bg-color;
        cursor: pointer;
      }
    }
    .prevBtn {
      transform: scale(-1, 1);
    }
  }
  .playBtn {
    display: none;
    font-family: $icon-font;
    width: $button-width;
  }
  .pauseBtn {
    display: none;
    font-family: $icon-font;
    width: $button-width;
  }
  .volumeBtn {
    font-family: $icon-font;
    width: $button-width;
  }
}

