---
layout: default
js:
- "https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.9/howler.min.js"
- "/js/podcast_player.js"
---
{% assign col = site.collections | where:"label",page.collection | first %}
<script>
window.playlist = [
{% for track in site[page.collection] %}
  {
    {%- assign f = track.file | first %}
    "file": "{{ track.name }}",
    "ext": "{{ f.ext }}",
    "page": "{{ track.id }}.html",
    "hdate": "{{ track.hdate }}",
    "title": "{{ track.title }}",
    "order": "{{ track.order }}"
  }{% unless forloop.last %},{% endunless %}
{% endfor %}
];
</script>
<div class="post">

  <header class="post-header">
    <h1 class="post-series"><a href="{{ col.url }}">{{ col.title }}</a></h1>
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">#{{ page.order }}: {{ page.hdate }}</p>
  </header>
  
  {% include podcast_player.html playlist="playlist" file=page.name %}

  <article class="post-content">
    {{ content }}
  </article>
</div>
